html body nav section #btnLogout, html body nav section #btnHome, .base-container.homeTester #testContainer button, .base-container.homeCreator #testContainer div section .btnStatus, #alert #btn-close-alert, #modal-scrim #modal > button:nth-child(2), .base-container.test #testStage #calibrationPage #allButtons button, .base-container.review-page .firstLine button, .base-container.edit #testsContainer #testsList div section .btnDelete, .base-container.edit #testsContainer #testsList div section .btnModify, .base-container.edit #testsEdit #createTab form section input[type=reset], .base-container.edit #testsEdit #modifyTab form section input[type=reset], .base-container.edit .scrim #popUp form section input[type=reset], .base-container.review-test #pageContent button, .base-container.homeCreator #testContainer div section .btnResults, .base-container.access form input[type=submit], html body nav section #btnForward, html body nav section #btnBackward, #modal-scrim #modal button, .base-container.test #testStage #final-page a, .base-container.test #testStage #final-page button, .base-container.edit #testsContainer #btnOpenCreate, .base-container.edit #testsEdit #createTab form fieldset button, .base-container.edit #testsEdit #modifyTab form fieldset button, .base-container.edit #testsEdit #createTab form section input[type=submit], .base-container.edit #testsEdit #modifyTab form section input[type=submit], .base-container.edit .scrim #popUp form section input[type=submit], .base-container.homeCreator .firstLine button {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

#modal-scrim #modal button, .base-container.test #testStage #final-page a, .base-container.test #testStage #final-page button, .base-container.edit #testsContainer #btnOpenCreate, .base-container.edit #testsEdit #createTab form fieldset button, .base-container.edit #testsEdit #modifyTab form fieldset button, .base-container.edit #testsEdit #createTab form section input[type=submit], .base-container.edit #testsEdit #modifyTab form section input[type=submit], .base-container.edit .scrim #popUp form section input[type=submit], .base-container.homeCreator .firstLine button {
  background-color: #E3B23C;
  color: #23211E;
  border-radius: 25px;
  border: 0px;
  font-weight: bold;
}
#modal-scrim #modal button:hover, .base-container.test #testStage #final-page a:hover, .base-container.test #testStage #final-page button:hover, .base-container.edit #testsContainer #btnOpenCreate:hover, .base-container.edit #testsEdit #createTab form fieldset button:hover, .base-container.edit #testsEdit #modifyTab form fieldset button:hover, .base-container.edit #testsEdit #createTab form section input[type=submit]:hover, .base-container.edit #testsEdit #modifyTab form section input[type=submit]:hover, .base-container.edit .scrim #popUp form section input[type=submit]:hover, .base-container.homeCreator .firstLine button:hover {
  background-color: #d6a021;
}

.base-container.edit #testsEdit #createTab form #lstPages div .btnDelete, .base-container.edit #testsEdit #modifyTab form #lstPages div .btnDelete, .base-container.access section button, html body nav section #btnLogout, html body nav section #btnHome {
  background-color: #423E37;
  color: #EDEBD7;
  border-radius: 25px;
  border: 0px;
  font-weight: bold;
}
.base-container.edit #testsEdit #createTab form #lstPages div .btnDelete:hover, .base-container.edit #testsEdit #modifyTab form #lstPages div .btnDelete:hover, .base-container.access section button:hover, html body nav section #btnLogout:hover, html body nav section #btnHome:hover {
  background-color: #312f2a;
}

#alert #btn-close-alert, #modal-scrim #modal > button:nth-child(2), .base-container.test #testStage #calibrationPage #allButtons button, .base-container.review-page .firstLine button, .base-container.edit #testsContainer #testsList div section .btnDelete, .base-container.edit #testsContainer #testsList div section .btnModify, .base-container.edit #testsEdit #createTab form section input[type=reset], .base-container.edit #testsEdit #modifyTab form section input[type=reset], .base-container.edit .scrim #popUp form section input[type=reset], .base-container.review-test #pageContent button, .base-container.homeCreator #testContainer div section .btnResults, .base-container.access form input[type=submit], html body nav section #btnForward, html body nav section #btnBackward {
  background-color: #EDEBD7;
  color: #23211E;
  border-radius: 25px;
  border: 0px;
  font-weight: bold;
}
#alert #btn-close-alert:hover, #modal-scrim #modal > button:hover:nth-child(2), .base-container.test #testStage #calibrationPage #allButtons button:hover, .base-container.review-page .firstLine button:hover, .base-container.edit #testsContainer #testsList div section .btnDelete:hover, .base-container.edit #testsContainer #testsList div section .btnModify:hover, .base-container.edit #testsEdit #createTab form section input[type=reset]:hover, .base-container.edit #testsEdit #modifyTab form section input[type=reset]:hover, .base-container.edit .scrim #popUp form section input[type=reset]:hover, .base-container.review-test #pageContent button:hover, .base-container.homeCreator #testContainer div section .btnResults:hover, .base-container.access form input[type=submit]:hover, html body nav section #btnForward:hover, html body nav section #btnBackward:hover {
  background-color: #d3d1bd;
}

.base-container.homeTester #testContainer button, .base-container.homeCreator #testContainer div section .btnStatus {
  background-color: #23211E;
  color: #EDEBD7;
  border-radius: 25px;
  border: 0px;
  font-weight: bold;
}
.base-container.homeTester #testContainer button:hover, .base-container.homeCreator #testContainer div section .btnStatus:hover {
  background-color: #131210;
}

* {
  margin: 0;
  color: #23211E;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
html body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
html body nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #23211E;
  height: -moz-fit-content;
  height: fit-content;
}
html body nav h1 {
  color: #EDEBD7;
  padding: 15px;
  font-size: 25pt;
}
html body nav section {
  padding: 15px;
  display: flex;
  width: 50%;
  justify-content: flex-end;
  gap: 10px;
}
html body nav section #btnLogout, html body nav section #btnHome {
  padding: 8px 16px;
  font-size: 12pt;
}
html body nav section #btnForward, html body nav section #btnBackward {
  padding: 1% 2%;
  font-size: 12pt;
}
html body main {
  display: flex;
  background-color: #EDEBD7;
  flex: 1;
}
html body main .base-container {
  flex: 1;
}

.base-container.access {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.base-container.access form {
  background-color: #E3B23C;
  padding: 3% 5%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  margin: 10px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
}
.base-container.access form h1 {
  font-size: 40pt;
  margin-bottom: 8%;
}
.base-container.access form label {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 10pt;
}
.base-container.access form label input[type=email], .base-container.access form label input[type=password], .base-container.access form label input[type=text] {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #E3B23C;
  padding: 2%;
}
.base-container.access form input[type=submit] {
  padding: 10px 40px;
  margin-top: 8%;
  font-size: 14pt;
  width: 60%;
}
.base-container.access section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
  font-size: 14pt;
}
.base-container.access section button {
  padding: 10px 40px;
  font-size: 14pt;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

.base-container.access.register form b {
  margin-top: 10px;
}
.base-container.access.register form section {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: center;
}
.base-container.access.register form section input[type=radio] {
  accent-color: #423E37;
}
.base-container.access.register form section label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  font-size: 11pt;
}
.base-container.access.register form section .separator {
  width: 2px;
  height: 100%;
  background-color: #23211E;
}

.base-container.homeTester {
  background-color: #423E37;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.base-container.homeTester h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #EDEBD7;
  height: 10%;
}
.base-container.homeTester #testContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  flex-wrap: wrap;
}
.base-container.homeTester #testContainer button {
  flex: 0 0 12%;
  min-width: 100px;
  aspect-ratio: 1/1;
  margin: 10px;
}
.base-container.homeCreator {
  background-color: #423E37;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.base-container.homeCreator .firstLine {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0px 20px 0px;
}
.base-container.homeCreator .firstLine h1 {
  color: #EDEBD7;
  font-size: 20pt;
}
.base-container.homeCreator .firstLine button {
  padding: 15px 3%;
  font-size: 14pt;
}
.base-container.homeCreator #testContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  gap: 10px;
  margin-bottom: 10px;
}
.base-container.homeCreator #testContainer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EDEBD7;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
  min-width: 410px;
}
.base-container.homeCreator #testContainer div p {
  font-weight: bold;
  margin: 10px 20px;
}
.base-container.homeCreator #testContainer div section {
  display: flex;
  margin: 10px;
}
.base-container.homeCreator #testContainer div section .btnResults {
  border: 2px solid #23211E;
  box-shadow: none;
  padding: 10px 15px;
  margin-left: 5px;
}
.base-container.homeCreator #testContainer div section .btnStatus {
  box-shadow: none;
  padding: 10px 15px;
}

.base-container.review-test {
  background-color: #423E37;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.base-container.review-test .firstLine {
  text-align: center;
  width: 100%;
  color: #EDEBD7;
  padding: 10px 0px;
}
.base-container.review-test .firstLine span {
  color: #E3B23C;
}
.base-container.review-test #pageContent {
  display: flex;
  width: 90%;
  margin: 10px 0px;
  flex: 1;
}
.base-container.review-test #pageContent button {
  padding: 10px;
}
.base-container.review-test #pageContent hr {
  width: 3px;
  background-color: #23211E;
  border: 0px;
  border-radius: 25px;
}
.base-container.review-test #pageContent h3 {
  color: #EDEBD7;
}
.base-container.review-test #pageContent .splitPage {
  padding: 10px;
  flex: 1;
}
.base-container.review-test #pageContent .splitPage section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  color: #EDEBD7;
}
@media screen and (max-width: 600px) {
  .base-container.review-test #pageContent {
    display: block;
  }
  .base-container.review-test #pageContent hr {
    width: 100%;
    height: 3px;
    margin: 10px 0px;
  }
}

.base-container.edit {
  flex: 1;
  display: flex;
}
.base-container.edit #content {
  background-color: #423E37;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.base-container.edit #testsContainer {
  height: 76vh;
  margin: 3%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.base-container.edit #testsContainer #testsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  margin-bottom: 15px;
  overflow: auto;
  padding: 10px;
  color: #EDEBD7;
}
.base-container.edit #testsContainer #testsList div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EDEBD7;
  border-radius: 15px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.base-container.edit #testsContainer #testsList div p {
  font-weight: bold;
  padding: 5px 10px;
}
.base-container.edit #testsContainer #testsList div section {
  display: flex;
  justify-content: flex-end;
}
.base-container.edit #testsContainer #testsList div section .btnDelete {
  box-shadow: none;
  padding: 5px 10px;
}
.base-container.edit #testsContainer #testsList div section .btnModify {
  box-shadow: none;
  border: 2px solid #23211E;
  padding: 5px 10px;
  margin-left: 5px;
}
.base-container.edit #testsContainer #btnOpenCreate {
  align-self: center;
  padding: 10px 15%;
  font-size: 14pt;
}
.base-container.edit hr {
  margin: 3% 0%;
  border: 2px solid #23211E;
  border-radius: 25px;
}
.base-container.edit #testsEdit {
  flex: 1;
  margin: 3.5% 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.base-container.edit #testsEdit #createTab, .base-container.edit #testsEdit #modifyTab {
  width: 94%;
  padding: 3%;
  background-color: #EDEBD7;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
  border: 0px;
  border-radius: 25px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.base-container.edit #testsEdit #createTab h3, .base-container.edit #testsEdit #modifyTab h3 {
  text-align: center;
  padding: 10px;
  font-size: 18pt;
}
.base-container.edit #testsEdit #createTab form, .base-container.edit #testsEdit #modifyTab form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1;
}
.base-container.edit #testsEdit #createTab form label, .base-container.edit #testsEdit #modifyTab form label {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 10pt;
}
.base-container.edit #testsEdit #createTab form label input[type=text], .base-container.edit #testsEdit #createTab form label input[type=url], .base-container.edit #testsEdit #modifyTab form label input[type=text], .base-container.edit #testsEdit #modifyTab form label input[type=url] {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #EDEBD7;
  padding: 2%;
}
.base-container.edit #testsEdit #createTab form label input[type=checkbox], .base-container.edit #testsEdit #modifyTab form label input[type=checkbox] {
  accent-color: #423E37;
  padding: 15px;
  margin: 5px;
}
.base-container.edit #testsEdit #createTab form label:has(> input[type=checkbox]), .base-container.edit #testsEdit #modifyTab form label:has(> input[type=checkbox]) {
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.base-container.edit #testsEdit #createTab form fieldset, .base-container.edit #testsEdit #modifyTab form fieldset {
  width: 95%;
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  display: flex;
  gap: 10px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
}
.base-container.edit #testsEdit #createTab form fieldset legend, .base-container.edit #testsEdit #modifyTab form fieldset legend {
  text-align: center;
}
.base-container.edit #testsEdit #createTab form fieldset button, .base-container.edit #testsEdit #modifyTab form fieldset button {
  box-shadow: none;
  flex: 1;
  padding: 5px;
}
.base-container.edit #testsEdit #createTab form fieldset:has(> #lstPages), .base-container.edit #testsEdit #modifyTab form fieldset:has(> #lstPages) {
  flex: 1;
  max-height: 30vh;
}
.base-container.edit #testsEdit #createTab form #lstPages, .base-container.edit #testsEdit #modifyTab form #lstPages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex: 1;
  overflow: auto;
}
.base-container.edit #testsEdit #createTab form #lstPages div, .base-container.edit #testsEdit #modifyTab form #lstPages div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #423E37;
  border: 0px;
  border-radius: 25px;
  padding: 1% 2%;
  width: 95%;
}
.base-container.edit #testsEdit #createTab form #lstPages div p, .base-container.edit #testsEdit #modifyTab form #lstPages div p {
  color: #EDEBD7;
}
.base-container.edit #testsEdit #createTab form #lstPages div .btnDelete, .base-container.edit #testsEdit #modifyTab form #lstPages div .btnDelete {
  flex: 0;
}
.base-container.edit #testsEdit #createTab form section, .base-container.edit #testsEdit #modifyTab form section {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 95%;
}
.base-container.edit #testsEdit #createTab form section input, .base-container.edit #testsEdit #modifyTab form section input {
  padding: 8px 5%;
  font-size: 14pt;
}
.base-container.edit #testsEdit #createTab form section input[type=submit], .base-container.edit #testsEdit #modifyTab form section input[type=submit] {
  margin-left: 5px;
}
.base-container.edit #testsEdit #createTab form section input[type=reset], .base-container.edit #testsEdit #modifyTab form section input[type=reset] {
  background-color: transparent;
  box-shadow: none;
}
.base-container.edit .scrim {
  flex: 1;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.base-container.edit .scrim #popUp {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
  background-color: #EDEBD7;
  border: 0px;
  border-radius: 25px;
  padding: 20px;
}
.base-container.edit .scrim #popUp div {
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
.base-container.edit .scrim #popUp form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.base-container.edit .scrim #popUp form label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}
.base-container.edit .scrim #popUp form label textarea {
  max-width: 33vw;
  max-height: 33vh;
}
.base-container.edit .scrim #popUp form label:has(> input[type=time]) {
  flex-direction: row;
}
.base-container.edit .scrim #popUp form section {
  display: flex;
  justify-content: flex-end;
}
.base-container.edit .scrim #popUp form section input[type=submit] {
  padding: 5px 10px;
  margin-left: 5px;
}
.base-container.edit .scrim #popUp form section input[type=reset] {
  box-shadow: none;
  padding: 5px 10px;
}

@media screen and (max-width: 600px) {
  hr {
    display: none;
  }
  .base-container.edit .scrim {
    background-color: rgba(0, 0, 0, 0);
    background-image: radial-gradient(rgba(0, 0, 0, 0.3), transparent);
  }
}
.base-container.review-page {
  background-color: #423E37;
  display: flex;
  flex-direction: column;
}
.base-container.review-page .firstLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.base-container.review-page .firstLine section {
  display: flex;
  gap: 15px;
}
.base-container.review-page .firstLine div {
  color: #EDEBD7;
}
.base-container.review-page .firstLine div span {
  color: #EDEBD7;
  font-weight: bold;
}
.base-container.review-page .firstLine button {
  font-weight: normal;
  padding: 5px 1%;
}
.base-container.review-page .pageContent {
  display: flex;
  flex: 1;
}
.base-container.review-page .pageContent #testStage {
  position: absolute;
  z-index: 1;
  flex: 1;
  width: 100%;
  height: 100%;
}
.base-container.review-page .pageContent #testStage img {
  width: 100%;
}
.base-container.review-page .pageContent #testStage iframe {
  flex: 1;
  width: 100%;
  height: inherit;
}
.base-container.review-page .pageContent #heatmap {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.base-container.review-page .pageContent #heatmap-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}

.base-container.test {
  background-color: #423E37;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.base-container.test div {
  background-color: #423E37;
}
.base-container.test div:has(> #tmrDuration) {
  background-color: #423E37;
  color: #EDEBD7;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
.base-container.test div:has(> #tmrDuration) #tmrDuration {
  color: #EDEBD7;
  font-weight: normal;
}
.base-container.test #testStage {
  flex: 1;
  display: flex;
  justify-content: center;
}
.base-container.test #testStage #calibrationPage {
  flex: 1;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.base-container.test #testStage #calibrationPage #allButtons {
  position: absolute;
  z-index: 2;
  width: 95%;
  height: 80vh;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-content: space-between;
}
.base-container.test #testStage #calibrationPage #allButtons button {
  border-radius: 10px;
  aspect-ratio: 1/1;
  width: 7vh;
}
.base-container.test #testStage #calibrationPage p {
  position: absolute;
  z-index: 1;
  color: #EDEBD7;
  text-align: center;
}
.base-container.test #testStage div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #EDEBD7;
  height: inherit;
  font-size: 16pt;
}
.base-container.test #testStage img {
  flex: 1;
  height: inherit;
}
.base-container.test #testStage iframe {
  flex: 1;
  height: inherit;
}
.base-container.test #testStage #final-page {
  font-size: 25px;
  font-weight: bold;
}
.base-container.test #testStage #final-page a {
  text-decoration: none;
  font-size: 16pt;
  padding: 5px 2vh;
  margin: 1vh;
  text-align: center;
}
.base-container.test #testStage #final-page button {
  margin: 1vh;
  padding: 5px 2vh;
  font-size: 16pt;
}

#webgazerVideoContainer {
  width: 220px !important;
  height: 140px !important;
  top: 220px !important;
  left: 0px !important;
}

#webgazerVideoFeed {
  width: 220px !important;
  height: 140px !important;
}

#webgazerFaceOverlay {
  width: 220px !important;
  height: 140px !important;
}

#webgazerFaceFeedbackBox {
  width: 85px !important;
  height: 85px !important;
  top: 20px !important;
  left: 60px !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #37352f;
}

::-webkit-scrollbar-thumb {
  background: #131210;
}

::-webkit-scrollbar-thumb:hover {
  background: #131210;
}

#alert {
  background-color: #e86e68;
  padding: 1vh 1.5vh;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  z-index: 1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  top: 20px;
}
#alert #btn-close-alert {
  margin: 0;
  padding: 3px;
  padding-bottom: 0px;
  background-color: #a53d38;
}
#alert #btn-close-alert .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 20;
}
#alert #btn-close-alert .icon {
  font-size: 15px;
}

#modal-scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
#modal-scrim #modal {
  background-color: #EDEBD7;
  padding: 1vh 1.5vh;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 1%;
}
#modal-scrim #modal button {
  margin: 5px;
  margin-top: 10px;
  padding: 1% 3%;
}
#modal-scrim #modal > button:nth-child(2) {
  box-shadow: none;
}/*# sourceMappingURL=main.css.map */