* {
  margin: 0;
  color: #23211E;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html, body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
html nav, body nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #23211E;
  height: 8%;
  padding: 1%;
}
html nav h1, body nav h1 {
  color: #EDEBD7;
}
html nav section, body nav section {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  gap: 10px;
}
html nav section #btnLogout, html nav section #btnHome, body nav section #btnLogout, body nav section #btnHome {
  background-color: #423E37;
  color: #EDEBD7;
  padding: 1% 2%;
  border-radius: 25px;
  border: 0px;
  font-weight: bold;
  font-size: 12pt;
}
html nav section #btnForward, html nav section #btnBackward, body nav section #btnForward, body nav section #btnBackward {
  background-color: #EDEBD7;
  padding: 1% 2%;
  border-radius: 25px;
  border: 0px;
  font-weight: bold;
  font-size: 12pt;
}
html main, body main {
  display: flex;
  background-color: #EDEBD7;
  height: 100%;
  width: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
html main .base-container, body main .base-container {
  flex: 1;
}

.base-container.access {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.base-container.access form {
  background-color: #E3B23C;
  padding: 3% 5%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  margin: 10px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
}
.base-container.access form h1 {
  font-size: 40pt;
  margin-bottom: 8%;
}
.base-container.access form label {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 10pt;
}
.base-container.access form label input[type=email], .base-container.access form label input[type=password] {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #E3B23C;
  padding: 2%;
}
.base-container.access form input[type=submit] {
  background-color: #EDEBD7;
  padding: 10px 40px;
  border-radius: 25px;
  border: 0px;
  margin-top: 8%;
  font-weight: bold;
  font-size: 14pt;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  width: 60%;
}
.base-container.access section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
  font-size: 14pt;
}
.base-container.access section button {
  background-color: #423E37;
  color: #EDEBD7;
  padding: 10px 40px;
  border-radius: 25px;
  border: 0px;
  font-weight: bold;
  font-size: 14pt;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

.base-container.access.register form b {
  margin-top: 10px;
}
.base-container.access.register form section {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: center;
}
.base-container.access.register form section input[type=radio] {
  accent-color: #423E37;
}
.base-container.access.register form section label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  font-size: 11pt;
}
.base-container.access.register form section .separator {
  width: 2px;
  height: 100%;
  background-color: #23211E;
}

.base-container.home {
  background-color: #423E37;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.base-container.home h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #EDEBD7;
  height: 10%;
}
.base-container.home #testContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  flex-wrap: wrap;
}
.base-container.home #testContainer button {
  flex: 1 0 18%;
  height: 15vw;
  background-color: #23211E;
  color: #EDEBD7;
  border-radius: 25px;
  border: 0px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
  margin: 10px;
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */