@use 'colors';
@use 'buttons';

#alert {
    background-color: colors.$alert-color;
    padding: 1vh 1.5vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    z-index: 1;
    top: 20px;
    
    #btn-close-alert {
        @extend %wgLightButton;
        margin: 0;
        padding: 3px;
        padding-bottom: 0px;
        background-color: colors.$alert-button-color;
        
        .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 20
        }

        .icon{
            font-size: 15px;
        }
    }
}