@use 'colors';

@mixin wgButton(
                $bg: colors.$primary-color, 
                $txtColor: colors.$dark-color
                ) {
    background-color: $bg;
    color: $txtColor;
    border-radius: 25px;
    border: 0px;
    font-weight: bold;
}

/*FIXME: Move me*/
%shadow {
    box-shadow: 0px 4px 10px 0px colors.$shadow;
}

%wgPrimaryButton {
    @include wgButton;
    @extend %shadow;
}

%wgSecondaryButton {
    @include wgButton(colors.$secondary-color, colors.$light-color);
}

%wgLightButton {
    @include wgButton(colors.$light-color);
    @extend %shadow;
}

%wgDarkButton {
    @include wgButton(colors.$dark-color, colors.$light-color);
    @extend %shadow;
}