$light-color:       #EDEBD7;
$primary-color:     #E3B23C;
$secondary-color:   #423E37;
$dark-color:        #23211E;

$light-color-hover:       #d3d1bd;
$primary-color-hover:     #d6a021;
$secondary-color-hover:   #312f2a;
$dark-color-hover:        #131210;

$shadow:            rgba(0,0,0,0.3);
$scrollbar-handle:        #131210;
$scrollbar-track:        #37352f;