@use '../components/colors';
@use '../components/buttons';

.base-container {
    &.edit {
        flex: 1;
        display: flex;
        
        #content {
            background-color: colors.$secondary-color;
            display: flex;
            flex: 1;
            flex-wrap: wrap;
        }

        #testsContainer {
            height: 76vh; /*FIXME: meh*/
            margin: 3%;
            display: flex;
            flex-direction: column;
            flex: 1;

            #testsList {
                display: flex;
                flex-direction: column;
                gap: 10px;
                flex: 1;
                margin-bottom: 15px;
                overflow: auto;
                padding: 10px;

                div {   /*TODO: Praticamente uguale a quelli della home*/
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: colors.$light-color;
                    border-radius: 15px;
                    box-shadow: 0px 5px 20px 0px colors.$shadow;
                    padding: 10px;

                    p {
                        font-weight: bold;
                        padding: 5px 10px;
                    }
    
                    section {
                        display: flex;
                        justify-content: flex-end;
    
                        .btnDelete {
                            @extend %wgLightButton;
                            box-shadow: none;
                            padding: 5px 10px;
                        }
    
                        .btnModify {
                            @extend %wgLightButton;
                            box-shadow: none;
                            border: 2px solid colors.$dark-color;
                            padding: 5px 10px;
                            margin-left: 5px;
                        }
                    }
                }
            }

            #btnOpenCreate {
                @extend %wgPrimaryButton;
                align-self: center;
                padding: 10px 15%;
                font-size: 14pt;
            }
        }
        
        hr {
            margin: 3% 0%;
            border: 2px solid colors.$dark-color;
            border-radius: 25px;
        }

        #testsEdit {
            flex: 1;
            margin: 3.5% 3%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            #createTab, #modifyTab {
                width: 94%;
                padding: 3%;
                background-color: colors.$light-color;
                box-shadow: 0px 5px 20px 0px colors.$shadow;
                border: 0px;
                border-radius: 25px;
                flex: 1;
                display: flex;
                flex-direction: column;

                h3 {
                    text-align: center;
                    padding: 10px;
                    font-size: 18pt;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    flex: 1;

                    label {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        font-size: 10pt;

                        input[type=text] { /*FIXME: "Duplicated"*/
                            border-radius: 5px;
                            border: 1px solid colors.$shadow;
                            background-color: colors.$light-color;
                            padding: 2%;
                        }
                    }

                    fieldset {
                        width: 95%;
                        border-radius: 25px;
                        border: 2px solid colors.$shadow;
                        display: flex;
                        gap: 10px;
                        box-shadow: 0px 5px 20px 0px colors.$shadow;

                        legend {
                            text-align: center;
                        }

                        button { /*FIXME: Uguale a btnDelete */
                            @extend %wgPrimaryButton;
                            box-shadow: none;
                            flex: 1;
                            padding: 5px;
                        }
                    }

                    fieldset:has(> #lstPages) {
                        flex: 1;
                        max-height: 30vh; /*FIXME: Not cute, ha problemi*/
                    }

                    #lstPages {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 5px;
                        flex: 1;
                        overflow: auto;

                        div {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            background-color: colors.$secondary-color;
                            border: 0px;
                            border-radius: 25px;
                            padding: 1% 2%;
                            width: 96%;
                            
                            p {
                                color: colors.$light-color;
                            }

                            .btnDelete {
                                @extend %wgSecondaryButton;
                                flex: 0;
                            }
                        }
                    }

                    section {
                        display: flex;
                        justify-content: flex-end;
                        gap: 10px;
                        width: 95%;

                        input[type=submit] { /*FIXME: Simile a sotto*/
                            @extend %wgPrimaryButton;
                            padding: 8px 5%;
                            margin-left: 5px;
                            font-size: 14pt;
                        }
    
                        input[type=reset] {
                            @extend %wgLightButton;
                            background-color: transparent;
                            box-shadow: none;
                            padding: 8px 5%;
                            font-size: 14pt;
                        }
                    }
                }
            }
        }

        .scrim {
            flex: 1;
            position: fixed;
            background-color: colors.$shadow;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            
            #popUp {
                display: flex;
                flex-direction: column;
                box-shadow: 0px 5px 20px 0px colors.$shadow;
                background-color: colors.$light-color;
                border: 0px;
                border-radius: 25px;
                padding: 20px;

                div {
                    font-weight: bold;
                    text-align: center;
                    padding: 10px;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 10px;

                    
                    label {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        gap: 5px;
                        
                        
                        textarea {
                            max-width: 33vw;
                            max-height: 33vh;
                        }
                    }
                    
                    label:has(> input[type=time]) {
                        flex-direction: row;
                    }

                    section {
                        display: flex;
                        justify-content: flex-end;

                        input[type=submit] {
                            @extend %wgPrimaryButton;
                            padding: 5px 10px;
                            margin-left: 5px;
                        }
    
                        input[type=reset] {
                            @extend %wgLightButton;
                            box-shadow: none;
                            padding: 5px 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) { /*MEDIA QUERY*/
    hr {
        display: none;
    }

    .base-container{
        &.edit {
            .scrim {
                background-color: rgba(0,0,0,0);
                background-image: radial-gradient(colors.$shadow, transparent);
            }
        }
    }
}