@use '../components/colors';
@use '../components/buttons';

.base-container {
    &.test {
        background-color: colors.$secondary-color;
        display: flex;
        flex: 1;
        flex-direction: column;

        div {
            background-color: colors.$secondary-color;
        }
        
        div:has(> #tmrDuration) {
            background-color: colors.$secondary-color;
            color: colors.$light-color;
            font-weight: bold;
            text-align: center;
            padding: 10px;

            #tmrDuration {
                color: colors.$light-color;
                font-weight: normal;
            }
        }

        #testStage {
            flex: 1;
            display: flex;
            justify-content: center;

            #calibrationPage {
                flex: 1;
                height: inherit;
                display: flex;
                justify-content: center;
                align-items: center;

                #allButtons {
                    position: absolute;
                    z-index: 2;
                    width: 95%;
                    height: 80vh; //FIXME: Meh
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: space-between;
                    align-content: space-between;

                    button {
                        @extend %wgLightButton;
                        border-radius: 10px;
                        aspect-ratio: 1/1;
                        width: 7vh; //FIXME: Meh
                    }
                }

                p {
                    position: absolute;
                    z-index: 1;
                    color: colors.$light-color;
                    text-align: center;
                }
            }

            div {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: colors.$light-color;
                height: inherit;
                font-size: 16pt;
            }

            img {
                flex: 1;
                height: inherit;
            }

            iframe {
                flex: 1;
                height: inherit;
            }
        }
    }
}

#webgazerVideoContainer {
    width: 220px !important;
    height: 140px !important;
    top: 220px !important;
    left: 0px !important;
}

#webgazerVideoFeed {
    width: 220px !important;
    height: 140px !important;
}

#webgazerFaceOverlay{
    width: 220px !important;
    height: 140px !important;
}

#webgazerFaceFeedbackBox{
    width: 85px !important;
    height: 85px !important;
    top: 20px !important;
    left: 60px !important;
}